bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.vs/MonoGameCross-PlatformDesktopApplication/FileContentIndex/
.vs/MonoGameCross-PlatformDesktopApplication/FileContentIndex/4b6e2b0c-a68c-425a-a9d6-791479b7d766.vsidx
.vs/MonoGameCross-PlatformDesktopApplication/FileContentIndex/4b6e2b0c-a68c-425a-a9d6-791479b7d766.vsidx
