bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.vs/MonoGameCross-PlatformDesktopApplication/FileContentIndex/ecb6ae7a-ada5-4f45-a1a8-b2e5786e96b5.vsidx
.vs/MonoGameCross-PlatformDesktopApplication/FileContentIndex/e5ae79e4-1492-41b3-835f-6c34c245dcb2.vsidx
.vs/MonoGameCross-PlatformDesktopApplication/FileContentIndex/e30ad576-59a3-46c8-a01e-4edab3001ce8.vsidx
.vs/MonoGameCross-PlatformDesktopApplication/FileContentIndex/bdfc469e-8d45-401b-87b3-a7fe869730e7.vsidx
.vs/MonoGameCross-PlatformDesktopApplication/FileContentIndex/aa773049-9a29-40c9-8cf6-13f558ab1a3f.vsidx
.vs/MonoGameCross-PlatformDesktopApplication/FileContentIndex/4b6e2b0c-a68c-425a-a9d6-791479b7d766.vsidx
.vs/MonoGameCross-PlatformDesktopApplication/FileContentIndex/1539b298-3037-4041-87df-9f7e022653be.vsidx
.vs/MonoGameCross-PlatformDesktopApplication/FileContentIndex/10110c0d-cdff-4a1b-bd8b-1aff0ddad237.vsidx
.vs/MonoGameCross-PlatformDesktopApplication/DesignTimeBuild/.dtbcache.v2
.vs/
*.dmp
